@model ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ChangePassword"];
    ViewData["Description"] = Localizer["ChangePassword"];
}

<form asp-controller="account" asp-action="change-password" method="post" role="form">
    <h1>@Localizer["ChangePassword"]</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group relative">
        <input type="password" asp-for="CurrentPassword" class="password-input" maxlength="100" placeholder="@Localizer["CurrentPassword"]" aria-label="@Localizer["CurrentPassword"]" required />
        <button type="button" class="password-show-button" data-for="CurrentPassword">@Localizer["Show"]</button>
    </div>
    <div class="form-group relative">
        <input type="password" asp-for="NewPassword" class="password-input" maxlength="100" placeholder="@Localizer["NewPassword"]" aria-label="@Localizer["NewPassword"]" required />
        <button type="button" class="password-show-button" data-for="NewPassword">@Localizer["Show"]</button>
    </div>
    <div class="form-group relative">
        <input type="password" asp-for="ConfirmPassword" class="password-input" maxlength="100" placeholder="@Localizer["ConfirmPassword"]" aria-label="@Localizer["ConfirmPassword"]" required />
        <button type="button" class="password-show-button" data-for="ConfirmPassword">@Localizer["Show"]</button>
    </div>

    <footer>
        <a href="/" class="button">@Localizer["Back"]</a>
        <button type="submit" class="button">@Localizer["ChangePassword"]</button>
    </footer>
</form>

<script>
    var showLabel = "@Localizer["Show"]";
    var hideLabel = "@Localizer["Hide"]";
</script>
<environment include="Development">
    <script src="~/js/shared/password-show-hide.js" asp-append-version="true"></script>
</environment>
<environment include="Production">
    <script src="https://cdn.personalassistant.site/js/shared/password-show-hide.min.js"></script>
</environment>