@model PersonalAssistant.Web.ViewModels.Friendships.CreateFriendshipViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["NewFriendship"];
    ViewData["Description"] = Localizer["NewFriendship"];
}

<form asp-controller="friendships" asp-action="new" method="post" role="form">
    <h1>@Localizer["NewFriendship"]</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input type="email" asp-for="Email" maxlength="254" placeholder="@Localizer["FriendsEmail"]" aria-label="@Localizer["FriendsEmail"]" required />
    </div>

    <div class="form-group">
        <div>Permissions</div>

        <div>These will apply in both directions.</div>

        <div>
            <div>To Do Assistant</div>

            <label>
                <div><input type="checkbox" name="Permissions" value="todo_share_lists" @(Model.Permissions.Contains("todo_share_lists") ? "checked" : string.Empty) /> Share lists</div>

                <div>Hehe</div>
            </label>
        </div>

        <div>
            <div>Chef</div>

            <label>
                <div><input type="checkbox" name="Permissions" value="chef_share_recipes" @(Model.Permissions.Contains("chef_share_recipes") ? "checked" : string.Empty) /> Share recipes</div>

                <div>Hehe</div>
            </label>

            <label>
                <div><input type="checkbox" name="Permissions" value="chef_send_recipes" @(Model.Permissions.Contains("chef_send_recipes") ? "checked" : string.Empty) /> Send recipes</div>
                
                <div>Hehe</div>
            </label>
        </div>

        <div>
            <div>Accountant</div>

            <label>
                <div><input type="checkbox" name="Permissions" value="accountant_split_expenses" @(Model.Permissions.Contains("accountant_split_expenses") ? "checked" : string.Empty) /> Split expenses</div>

                <div>Hehe</div>
            </label>
        </div>
    </div>

    <footer>
        <a asp-controller="friendships" asp-action="index" class="button">@Localizer["Back"]</a>
        
        <button type="submit" class="button">@Localizer["SendRequest"]</button>
    </footer>
</form>
