@model OverviewViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Overview"];
    ViewData["Description"] = Localizer["Overview"];

    ViewData["ToDoAssistantUrl"] = Model.Applications["ToDoAssistant"].Url;
    ViewData["CookingAssistantUrl"] = Model.Applications["CookingAssistant"].Url;
    ViewData["AccountantUrl"] = Model.Applications["Accountant"].Url;
}

@switch (Model.Alert)
{
    case OverviewAlert.ProfileUpdated:
        <p class="alert success">@Localizer["ProfileUpdatedSuccess"]</p>
        break;
    case OverviewAlert.PasswordChanged:
        <p class="alert success">@Localizer["PasswordChangedSuccess"]</p>
        break;
}

<div class="welcome-message">@Localizer["Hello"], @Model.UserName.</div>

<div class="overview-apps">
    <h3>@Localizer["GoTo"]</h3>

    @foreach (KeyValuePair<string, ApplicationVm> item in Model.Applications)
    {
        @if (item.Value.InDevelopment)
        {
            <a href="@item.Value.Url" class="app @item.Value.CssClass in-development">
                <div>@item.Value.Name</div>
                <div>@Localizer["InDevelopment"]</div>
            </a>
        }
        else
        {
            <a href="@item.Value.Url" class="app @item.Value.CssClass">@item.Value.Name</a>
        }
    }
</div>

<div class="links">
    <div>
        <a asp-action="edit-profile" asp-controller="account">@Localizer["EditProfile"]</a>
    </div>
    <div>
        <a asp-action="change-password" asp-controller="account">@Localizer["ChangePassword"]</a>
    </div>
    <div>
        <a asp-action="delete" asp-controller="account">@Localizer["DeleteAccount"]</a>
    </div>
</div>

<div class="links">
    <div>
        <a asp-action="privacy-policy" asp-controller="home">@Localizer["PrivacyPolicy"]</a>
    </div>
    <div>
        <a asp-action="about" asp-controller="home">@Localizer["About"]</a>
    </div>
</div>