@model ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ChangePassword"];
    ViewData["Description"] = Localizer["ChangePassword"];
}

<form asp-controller="account" asp-action="change-password" method="post" role="form">
    <h1>@Localizer["ChangePassword"]</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input type="email" asp-for="Email" maxlength="254" placeholder="@Localizer["Email"]" aria-label="@Localizer["Email"]" required />
    </div>

    <footer>
        <a href="/" class="button">@Localizer["Back"]</a>
        <button type="submit" class="button">@Localizer["ChangePassword"]</button>
    </footer>
</form>
