@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="UWBbtL3i1nhy04-tZJHnxyezrooysuPCMjVtXUtnb5c" />
    <meta name="description" content="@ViewData["Description"]">
    <link rel="icon" href="/favicon.png">

    <title>@ViewData["Title"] - Personal Assistant</title>

    <link rel="preconnect" href="https://cdn.personalassistant.site" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    </environment>
    <environment include="Production">
        <link rel="preload" href="https://cdn.personalassistant.site/css/style.min.css?v=4" as="style">
        <link rel="stylesheet" href="https://cdn.personalassistant.site/css/style.min.css?v=4">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <main>
        <div class="side large-screen">
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
        </div>
        <div class="side">
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <a asp-action="to-do-assistant" asp-controller="home" class="cell app to-do-assistant">To Do<br>Assistant</a>
            </div>
            <div class="cell-wrap">
                <a asp-action="accountant" asp-controller="home" class="cell app accountant">Accountant</a>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
        </div>
        <div class="middle">
            <div class="cell-wrap top">
                <a href="/" class="cell branding-link">
                    <div class="branding">
                        <div class="logo">Personal Assistant</div>
                        <div class="slogan">Apps for organized people</div>
                    </div>
                </a>
            </div>
            <partial name="_LanguagePartial" />
            <div id="container">
                @RenderBody()
            </div>
            <div class="cell-wrap bottom">
                <div class="cell">Copyright © @DateTime.UtcNow.Year Personal Assistant</div>
            </div>
        </div>
        <div class="side">
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <a asp-action="cooking-assistant" asp-controller="home" class="cell app cooking-assistant">Cooking<br>Assistant</a>
            </div>
            <div class="cell-wrap">
                <a asp-action="weatherman" asp-controller="home" class="cell app weatherman">Weatherman</a>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
        </div>
        <div class="side large-screen">
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
            <div class="cell-wrap">
                <div class="cell"></div>
            </div>
        </div>

        <partial name="_CookieConsentPartial" />
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
