@model PersonalAssistant.Web.ViewModels.Account.ResetPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ResetPassword"];
    ViewData["Description"] = Localizer["ResetPassword"];
}

<form asp-controller="account" asp-action="reset-password" method="post" role="form">
    <h1>@Localizer["ResetPassword"]</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <environment include="Development">
        <input type="hidden" asp-for="GoogleReCaptchaScore" value="1" />
    </environment>
    <environment include="Production">
        <input type="hidden" asp-for="GoogleReCaptchaScore" value="0" />
    </environment>

    <div class="form-group">
        <input type="email" asp-for="Email" maxlength="254" placeholder="@Localizer["Email"]" aria-label="@Localizer["Email"]" required />
    </div>

    <footer>
        <a href="/" class="button">@Localizer["Back"]</a>
        
        <environment include="Development">
            <button type="submit" id="reset-password-button" class="button">@Localizer["ResetPassword"]</button>
        </environment>
        <environment include="Production">
            <button type="submit" id="reset-password-button" class="button" disabled="disabled">@Localizer["ResetPassword"]</button>
        </environment>
    </footer>
</form>

<environment include="Production">
    <script src="https://www.google.com/recaptcha/api.js?render=6LfpNqYUAAAAAPlCVjWxJQEKQKmQMKqXDBFrtjAX"></script>
    <script>
        grecaptcha.ready(() => {
            grecaptcha.execute('6LfpNqYUAAAAAPlCVjWxJQEKQKmQMKqXDBFrtjAX', { action: 'forgot_password' }).then(token => {
                const formData = new FormData();
                formData.append('token', token);

                fetch('/account/verify-recaptcha', {
                    method: 'post',
                    body: formData
                })
                    .then(response => response.text())
                    .then(score => {
                        document.getElementById('GoogleReCaptchaScore').value = score;
                        document.getElementById('reset-password-button').removeAttribute('disabled');
                    });
            });
        });
    </script>
</environment>
