@using PersonalAssistant.Web.ViewModels.Home;
@model IndexViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home"];
    ViewData["Description"] = Localizer["Home"];
}

@switch (Model.Alert)
{
    case OverviewIndexAlert.LoggedOut:
        <p class="alert success">@Localizer["LoggedOut"]</p>
        break;
    case OverviewIndexAlert.SuccessfullyRegistered:
        <p class="alert success">@Localizer["SuccessfullyRegistered"]</p>
        break;
    case OverviewIndexAlert.LanguageChanged:
        <p class="alert success">@Localizer["LanguageChanged"]</p>
        break;
    case OverviewIndexAlert.AccountDeleted:
        <p class="alert success">@Localizer["AccountDeleted"]</p>
        break;
}

<div class="links-container">
    <div>
        <a asp-action="login" asp-controller="account">@Localizer["Login"]</a>
    </div>
</div>

<div class="links-container">
    <div>
        <a asp-action="register" asp-controller="account">@Localizer["DontHaveAnAccount"]</a>
    </div>
    <div>
        <a asp-action="reset-password" asp-controller="account">@Localizer["ForgotYourPassword"]</a>
    </div>
</div>

<div class="links-container">
    <div>
        <a asp-action="privacy-policy" asp-controller="home">@Localizer["PrivacyPolicy"]</a>
    </div>
    <div>
        <a asp-action="about" asp-controller="home">@Localizer["About"]</a>
    </div>
</div>
